### Lists
A list is a data structure in Python that is mutable, or Changeable, ordered sequence of elements. Each elements or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square bracket.

Can contains different data types,  
Mutable,  
Indexing is there,  
Duplicate elements are allowed.

In [1]:
lst_example=[]

In [2]:
type(lst_example)

list

In [3]:
lst=list()

In [4]:
type(lst)

list

In [5]:
lst=['Maths','Che',17,90,40]

In [6]:
len(lst)

5

In [7]:
lst.append('Mishra')      #append is used to add items to the list at the end

In [8]:
print(lst)

['Maths', 'Che', 17, 90, 40, 'Mishra']

In [9]:
lst.append(["Shantanu","Mishra"])           # It will create a nested list

In [10]:
print(lst)

['Maths', 'Che', 17, 90, 40, 'Mishra', ['Shantanu', 'Mishra']]

In [11]:
lst[2]                #Indexing in list starts from zero

17

In [12]:
lst[4]

40

In [13]:
lst.insert(5,'Shantanu')              #insert is used to add item at the specific index

In [14]:
lst

['Maths', 'Che', 17, 90, 40, 'Shantanu', 'Mishra', ['Shantanu', 'Mishra']]

In [15]:
lst = ['Maths', 'Che', 17, 90, 40, 'Shantanu', 'Mishra']

In [16]:
lst[:]

['Maths', 'Che', 17, 90, 40, 'Shantanu', 'Mishra']

In [17]:
lst[2:]

[17, 90, 40, 'Shantanu', 'Mishra']

In [18]:
lst[2:5]

[17, 90, 40]

In [19]:
lst1=[1,2,3,4,5,6]

In [20]:
lst1.extend([8,9])      #extend just adds as seprate element rather than creating a nested list

In [23]:
lst1

[1, 2, 3, 4, 5, 6, 8, 9]

In [24]:
sum(lst1)                   #return sum

38

In [26]:
lst1*5            # list got multiplied 5 times

[1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 8,
 9]

In [29]:
list = [1,2,3,4,'Shan','Mishra',45]
list.pop()                      #By default it will remove the last element

45

In [30]:
list.pop(3)                     #removes element at index 3

4

In [31]:
lst= [1,2,3,3,4,5,5,5,68,9]

In [32]:
lst.count(5)                   #Returns the no of times 5 occured

3

In [34]:
lst.index(1,0,4)              # .index(value,start index,end index) and it returns at which index value is present

0

In [35]:
min(lst)                      #returns the minimum value in list

1

In [36]:
max(lst)                     #returns the max value in list

68