##Operators in Python

*   Arithmetic Operators
*   Assignment Operators
*   Comparison Operators
*   Logical Operators
*   Identity Operators
*   Membership Opeartors

In [9]:
# Arithmetic Operators

num_1 = 10
num_2 = 20

#Addition
sum = num_1 + num_2
print('Sum =',sum)

#Subtraction
diff = num_2 - num_1
print('Difference =',diff)

#Multiplication
prod = num_1 * num_2
print('Product =',prod)

#Division
div = num_2 / num_1
print('Division =',div)

#Exponent
exp = num_1**num_2
print('Exponent =',exp)

#Modulus
mod = num_1 % num_2
print('Modulus =',mod)

Sum = 30
Difference = 10
Product = 200
Division = 2.0
Exponent = 100000000000000000000
Modulus = 10

In [10]:
# Assignment Opeartors

a = 5                  # "=" is assignment operator
print(a)

a = 5
a += 5                 # "+=" means a= a+5
print(a)

b = 10
b -= 2                 # "-=" means b= b-2
print(b)

c = 3
c *= 4                # c= c*4
print(c)

c = 3
c **= 4               # c= c^4
print(c)

c = 5
c /= 2                # c= c/2
print(c)

c = 12
c %=3                # c= c%3
print(c)

5
10
8
12
81
2.5
0

In [ ]:
# Comparison Operators

a = 5
b = 10

print(a == b)       #equal to
print(a != b)       #not equal to
print(a > b)        #greater than
print(a < b)        #less than
print(a <= b)       #less than equal to
print(a >= b)       #greater than equal to
# returns either true or false

False
True
False
True
True
False

In [ ]:
# Logical Operators

a = 10

#and
print( a>20 and a<10)
print( a <=10 and a>8)

#or
print( a>9 or a>30)
print( a>20 or a==12)

#not
print( not(a>5))

False
True
True
False
False

In [ ]:
# Identity Opeartors

x = 5
y = 5

#is
print(x is y)

#is not
print(x is not y)

True
False

In [ ]:
# Membership Operators

a = 5
b = 10
c = [1,2,3,4,5]

# in
print(a in c)
print(a not in c)

# not in
print(b in c)
print(b not in c)

True
False
False
True